@import "tailwindcss";

@layer base {
  /* ===== Custom Fonts ===== */
  @font-face {
    font-family: inter-regular;
    src: url(./assets/fonts/Inter_28pt-Regular.ttf);
  }

  @font-face {
    font-family: inter-light;
    src: url(./assets/fonts/Inter_24pt-Light.ttf);
  }

  @font-face {
    font-family: inter-medium;
    src: url(./assets/fonts/Inter_28pt-Medium.ttf);
  }
  

audio {
  width: 40vw;

}


  /* ===== Mobile Styles (Default) ===== */
  h1 {
    font-family: 'inter-light';
    font-size: 26px;
    letter-spacing: -0.2vw;
    line-height: 2.1vh;
  
  }

  h2 {
    font-family: 'inter-light';
    font-size: 30px;
    line-height: 40px;
    letter-spacing:  -1px;
  
  }

 
 h4 {
   
      font-family : 'inter-light';
      font-size: 15px ;

  
    }
 p {
   
      font-family : 'inter-light';
      font-size: 13px ;
    letter-spacing: 0.2px;
    line-height: 16px;

  
    }
  h5 {
    font-family: 'inter-regular';
    font-size: 3.3vw;
    letter-spacing: 0;
    line-height: 1.5vh;
  
  }

  h6 {
    font-family: 'inter-regular';
    font-size: 3.5vw;
    letter-spacing: 0;
    line-height: 1.5vh;
   
  }

  a {
    font-family: 'inter-medium';
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.5vh;

  }

  button {
    font-family: 'inter-light';
    border-radius: 20px;

    font-size: 13px;
    line-height: 1.5vh;
   
  }
}

/* ===== Desktop Redesign Styles ===== */
@layer base {
  @media (min-width: 768px) {
    h1 {
      font-family:'inter-light';
      font-size: 29px;
      letter-spacing: -0.050vw;
      line-height: 3.1vh;
    }

    h2 {
      font-size:32px;
      letter-spacing: -0.050vw;

      
    }


  
    

    h5 {
      font-size: 14px;
      font-family : 'inter-regular' ; 
      line-height: 1;
    }

    h6 {
      font-size: 1.6vw;
      line-height: 2.2vh;
    }

    a {
      font-size: 14px;
    }

  
  }
}
